
@{
    ViewBag.Title = "Index";
}

<div class="container" style="margin-top:40px">
    <div class="card wow bounceInRight z-depth-3" style="border:1px solid #e65100">
        <div class="card-title orange darken-3">
            <div class="header2 white-text" style="margin:0 10px"><b>Education</b></div>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col m3">
                    <form id="EducationForm">
                        <div class="row">
                            <div id="ValidationError" />
                            <div><b>School/College*</b></div>
                            <p>
                                <input class="with-gap" type="radio" id="SSC" value="SSC" name="Sedu" />
                                <label for="SSC">SSC</label>

                                <input class="with-gap" type="radio" id="O" value="O" name="Sedu" />
                                <label for="O">O Level</label>
                            </p>
                            <p>
                                <input class="with-gap" type="radio" id="HSC" value="HSC" name="Hedu" />
                                <label for="HSC">HSC</label>

                                <input class="with-gap" type="radio" id="A" value="A" name="Hedu" />
                                <label for="A">A Level</label>
                            </p>
                        </div>
                        <div class="row">
                            <div><b>University</b></div>
                            <p>
                                <input type="checkbox" id="Bachelor" value="Bachelor" />
                                <label for="Bachelor">Bachelor</label>

                                <input type="checkbox" id="Master" value="Master" />
                                <label for="Master">Master</label>
                            </p>
                        </div>


                        <div class="row">
                            <div><b>Professional</b></div>
                            <p>
                                <input type="checkbox" id="CMA" value="CMA" />
                                <label for="CMA">CMA</label>

                                <input type="checkbox" id="ACCA" value="ACCA" />
                                <label for="ACCA">ACCA</label>
                            </p>
                        </div>


                    </form>
                </div>

                <div class="col m9" style="border-left: 1px solid #e65100">
                    <div id="Education">
                        <div id="EducationItem">
                            <div id="School" />
                            <div id="College" />
                            <div id="BachelorDegree" />
                            <div id="MasterDegree" />
                            <div id="ACCAPro" />
                            <div id="CMAPro" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <button id="btnNexttoEducation"
                        class="btn-floating btn-large orange darken-3 waves-effect right tooltipped"
                        data-position="left"
                        data-delay="50"
                        data-tooltip="Next">
                    <span class="fa fa-arrow-circle-right"></span>
                </button>
            </div>
        </div>
    </div>
</div>


