<form id="CMAForm" class="wow bounceInDown">
    <div class="card">
        <div class="card-title orange lighten-3">
            <div class="header2 white-text" style="margin:0 10px"><b>CMA</b></div>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="input-field col s9">
                    <span class="fa fa-university orange-text text-darken-3 prefix" />
                    <input id="CMAInstitute" name="txtInstitute" type="text">
                    <label for="txtInstitute">Institute*</label>
                </div>
                <div class="input-field col s3">
                    <span class="fa fa-calendar orange-text text-darken-3 prefix" />
                    <input id="CMAYearOfPass" name="txtYearOfPass" type="text">
                    <label for="txtYearOfPass">Year of pass*</label>
                </div>
            </div>
        </div>
    </div>
</form>
