@using StudentAppRecovered.Helper
@{ 
    var lot = (LeftOrTerminated)TempData["Student4Transfer"];
    var partnerId = WhoIsWhereLists.HRSupervisor.Where(x => x.ManagerId == lot.Id && x.To.Year == 1905).First().PartnerId;
    var managers = WhoIsWhereLists.Managers.Where(x => x.PartnerId == partnerId && x.Id != lot.Id);
}
<div class="row">
    <div class="row" style="margin-bottom:0">
        <button id="CloseTransferDiv"
                class="btn-floating orange darken-4 right tooltipped"
                data-position="left"
                data-delay="50"
                data-tooltip="Click to Close">
            <span class="fa fa-remove"></span>
        </button>
    </div>     
    <div class="row">
        <div><b>Transfer Student(s)</b></div>
        <div class="divider orange darken-4" />
    </div>    
</div>

<div class="row">
    <form id="StudentTransferForm">
        <div style="margin-top:5px">
            <img id="managerImage" src="" height="150" width="150" class="responsive-img circle" />
        </div>
        <div class="input-field">
            <span class="fa fa-user orange-text text-darken-4 prefix"></span>
            <select id="SelectManager" name="ddlSelectManager">
                <option value="" disabled selected>Choose</option>
                @foreach (var item in managers)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <label for="ddlSelectManager">Select manager*</label>
        </div>
    </form>
</div>

<div class="row">
    <button id="btnTransfer" value="@lot.Id" 
            class="btn-floating btn-large waves-effect green right tooltipped" 
            data-position="left"
            data-delay="50"
            data-tooltip="Are you sure?">
        <span class="fa fa-check"></span>      
    </button>
</div>
<div class="divider orange darken-4" style="margin-bottom:5px"/>
