@using StudentAppRecovered.Helper
@{
    var lot = (LeftOrTerminated)TempData["Student4Transfer"];
    TempData.Keep("Student4Transfer");
    var partnerId = WhoIsWhereLists.HRSupervisor.Where(x => x.PartnerId == lot.Id && x.To.Year == 1905).First().PartnerId;
    var partners = WhoIsWhereLists.Partners.Where(x => x.Id != lot.Id);
}
<div class="row">
    <div class="row" style="margin-bottom:0">
        <button id="CloseTransferEmpDiv"
                class="btn-floating orange darken-4 right tooltipped"
                data-position="left"
                data-delay="50"
                data-tooltip="Click to Close">
            <span class="fa fa-remove"></span>
        </button>
    </div>
    <div class="row">
        <div><b>Transfer Employee(s)</b></div>
        <div class="divider orange darken-4" />
    </div>
</div>

<div class="row">
    <form id="EmployeeTransferForm">
        <div style="margin-top:5px">
            <img id="partnerImage1" src="" height="150" width="150" class="responsive-img circle" />
        </div>
        <div class="input-field">
            <span class="fa fa-user orange-text text-darken-4 prefix"></span>
            <select id="SelectPartner1" name="ddlSelectPartner1">
                <option value="" disabled selected>Choose</option>
                @foreach (var item in partners)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <label for="ddlSelectPartner1">Select partner*</label>
        </div>
    </form>
</div>

<div class="row">
    <button id="btnTransferAllEmployees" value="@lot.Id"
            class="btn-floating btn-large waves-effect green right tooltipped"
            data-position="left"
            data-delay="50"
            data-tooltip="Are you sure?">
        <span class="fa fa-check"></span>
    </button>
</div>
<div class="divider orange darken-4" style="margin-bottom:5px" />

