
@{
    ViewBag.Title = "BB Saha & Haque";
}

<div class="carousel" style="margin-top:40px">
    <a class="carousel-item" ><img class="carImg circle" src="~/Images/1.jpg"></a>
    <a class="carousel-item" ><img class="carImg circle" src="~/Images/2.jpg"></a>
    <a class="carousel-item" ><img class="carImg circle" src="~/Images/3.jpg"></a>
    <a class="carousel-item" ><img class="carImg circle" src="~/Images/4.jpg"></a>
    <a class="carousel-item" ><img class="carImg circle" src="~/Images/5.jpg"></a>
</div>

<div class="container">
    <div class="row">
        <div class="col m4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur luctus ante in ultricies molestie. Suspendisse sed sollicitudin orci. Proin est nibh, aliquet non neque sed, malesuada lacinia sem. Etiam mi enim, eleifend non venenatis porta, accumsan eget est. Duis vel lacinia velit. Aliquam sem elit, placerat vel nisl vitae, varius posuere est. In lacinia, lorem nec venenatis tempor, tortor nunc tempus ipsum, eget posuere risus diam quis dui. Nullam iaculis viverra ligula vitae mattis. Curabitur at fringilla tellus.</p>
        </div>
        <div class="col m4">
            <p>In finibus tortor a iaculis suscipit. Donec condimentum enim mauris, non pulvinar ipsum imperdiet non. Mauris mattis id massa et dictum. Fusce rhoncus, sapien eget suscipit porta, metus arcu ornare sapien, a hendrerit felis libero eu ante. Nam quis luctus ex. Vivamus vel interdum nulla. Mauris mollis nunc dolor, sed eleifend elit auctor ac. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sapien metus, euismod ut tortor sit amet, congue pellentesque quam. Nunc eu sagittis mi, consequat euismod elit. Curabitur eu orci vulputate, aliquet arcu nec, luctus purus.</p>
        </div>
        <div class="col m4">
            <p>
                Cras faucibus quis est ut malesuada. Nullam vitae egestas est, non tristique purus. Praesent sollicitudin ac purus vitae auctor. Pellentesque laoreet nunc enim, ut porttitor arcu ultrices eu. Nunc nec metus quis lorem condimentum aliquet. Donec blandit elit ipsum, non tincidunt odio posuere sit amet.
                <br />
                <a id="btnApply" class="waves-effect btn-floating btn-large green tooltipped"
                   data-position="bottom" data-delay="50" data-tooltip="Click to Apply and Upload your CV">
                    <span class="fa fa-pencil-square-o"></span>
                </a>
            </p>
        </div>
    </div>
</div>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">BB Saha &amp; Haque</h5>
                <h6 class="white-text">Chartered Accountants</h6>
                <p class="grey-text text-lighten-4">22, Dilkusha C/A (1st floor)
                <br />
                    Dhaka 1000.
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 BB Saha &amp; Haque
        </div>
    </div>
</footer>

