

    <div class="card wow bounceInRight z-depth-3" style="border:1px solid #e65100">
        <div class="card-title orange darken-3">
            <div class="header2 white-text" style="margin:0 10px"><b>Current Position</b></div>
        </div>
        <div class="card-content">
            <div id="MemberCurrentForm">
                <form id="CurrentPosition1">
                    <div class="card" title="PartnerCurrentPosition">
                        <div class="card-content">
                            <div class="input-field">
                                <span class="fa fa-shield orange-text text-darken-3 prefix" />
                                <input title="CurrentPosition" name="txtCurrentPosition" type="text" maxlength="50">
                                <label for="txtCurrentPosition">Position*</label>
                            </div>
                            <div class="input-field">
                                <span class="fa fa-bank orange-text text-darken-3 prefix" />
                                <input title="CurrentOrganisation" name="txtCurrentOrganisation" type="text" maxlength="30">
                                <label for="txtCurrentOrganisation">Organisation*</label>
                            </div>
                            <div class="row">
                                <div class="input-field col m6">
                                    <span class="fa fa-calendar orange-text text-darken-3 prefix" />
                                    <input title="CurrentPositionFrom" name="txtCurrentPositionFrom" type="text" class="datepicker">
                                    <label for="txtCurrentPositionFrom">from*</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col m6">
                    <button id="btnAddMoreCurrentPosition"
                            class="btn-floating btn-large orange darken-3 waves-effect left tooltipped"
                            style="margin-right:5px"
                            data-position="right"
                            data-delay="50"
                            data-tooltip="Add one more current position">
                        <span class="fa fa-plus-circle"></span>
                    </button>
                </div>
                <div class="col m6">
                    <button id="btnRemoveCurrentPosition"
                            class="btn-floating btn-large orange darken-3 waves-effect right tooltipped"
                            data-position="left"
                            data-delay="50"
                            data-tooltip="Remove last current position">
                        <span class="fa fa-minus-circle"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>



