

    <div class="card wow bounceInRight z-depth-3" style="border:1px solid #e65100">
        <div class="card-title orange darken-3">
            <div class="header2 white-text" style="margin:0 10px"><b>Past Position</b></div>
        </div>
        <div class="card-content">
            <div id="PastPositionForm">
                <form id="PastPosition1">
                    <div class="card" title="PartnerPastPosition">
                        <div class="card-content">
                            <div class="input-field">
                                <span class="fa fa-shield orange-text text-darken-3 prefix" />
                                <input title="PastPosition" name="txtPastPosition" type="text" maxlength="50">
                                <label for="txtPastPosition">Position*</label>
                            </div>
                            <div class="input-field">
                                <span class="fa fa-bank orange-text text-darken-3 prefix" />
                                <input title="PastOrganisation" name="txtPastOrganisation" type="text" maxlength="30">
                                <label for="txtPastOrganisation">Organisation*</label>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <span class="fa fa-calendar orange-text text-darken-3 prefix" />
                                    <input title="PastPositionFrom" name="txtPastPositionFrom" type="text" class="datepicker">
                                    <label for="txtPastPositionFrom">from*</label>
                                </div>
                                <div class="input-field col s6">
                                    <span class="fa fa-calendar orange-text text-darken-3 prefix" />
                                    <input title="PastPositionTo" name="txtPastPositionTo" type="text" class="datepicker">
                                    <label for="txtPastPositionTo">to*</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col m6">
                    <button id="btnAddMorePastPosition"
                            class="btn-floating btn-large orange darken-3 waves-effect left tooltipped"
                            style="margin-right:5px"
                            data-position="right"
                            data-delay="50"
                            data-tooltip="Add one more past position">
                        <span class="fa fa-plus-circle"></span>
                    </button>
                </div>
                <div class="col m6">
                    <button id="btnRemovePastPosition"
                            class="btn-floating btn-large orange darken-3 waves-effect right tooltipped"
                            data-position="left"
                            data-delay="50"
                            data-tooltip="Remove last past position">
                        <span class="fa fa-minus-circle"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>


