
<div class="input-field">
    <input type="checkbox" name="CurrentJob" id="CurrentJob" value="CurrentJob" />
    <label for="CurrentJob">Current Job</label>
</div>

<form id="WorkingExperience">
    <div class="col s12">
        <div class="input-field">
            <input type="radio" id="Experienced" value="Experienced" name="Experience" />
            <label for="Experienced">I have working experience</label>
        </div>
        <div class="input-field">
            <input type="radio" id="NotExperienced" value="NotExperienced" name="Experience" />
            <label for="NotExperienced">I do not have any working experience</label>
        </div>
    </div>
</form>

